@model Emprestimo

<h1>Cadastro para Empréstimo de Livro</h1>

<form method="post" asp-controller="Home" asp-action="Emprestar">

    <div asp-validation-summary="All"></div>

    <div>
        <label asp-for="Nome">Digite seu Nome</label>
        <input asp-for="Nome" style="width: 253px"  />
        <span asp-validation-for="Nome"></span>
    </div>

    <div>
        <label asp-for="Telefone">Digite seu Telefone</label>
        <input asp-for="Telefone" />
        <span asp-validation-for="Telefone"></span>
    </div>

    <div class="form-group">
        <label asp-for="LivroId" class="control-label"></label>
        <select asp-for="LivroId" class="form-control" asp-items="ViewBag.LivroId"></select>
    </div>


    <div>
        <label asp-for="Confirmado">Você confirma o empréstimo?</label>
        <select asp-for="Confirmado">
            <option value="">Escolha a opção</option>
            <option value="true">Sim</option>
            <option value="false">Não</option>
        </select>
        <span asp-validation-for="Confirmado"></span>
    </div>
    <button type="submit">Solicitar Empréstimo</button>
</form>
