@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Biblioteca Let's Code</h1>
    <p> Aqui você pode realizar empréstimos de livros</p>
    <div><a asp-controller="Livros" asp-action="Index">Veja nosso acervo </a></div>
    <div><a asp-action="Emprestar">Realize aqui o empréstimo do seu livro!</a></div>
    <div><a asp-action="Emprestados">Livros Emprestados</a></div>
</div>
